.trinta-card {
    &.pm-stat-card {
        padding: {
            top: 40px;
            bottom: 40px;
        };
        .mat-mdc-card-content {
            .icon {
                width: 62px;
                height: 62px;
                margin-bottom: 30px;
                border-radius: 12.718px;
                background-color: var(--primaryColor);

                i-feather {
                    width: 32px;
                    height: 32px;
                    stroke: var(--whiteColor);
                }
            }
            span {
                font-size: 15px;
            }
            h5 {
                font-size: 20px;
                letter-spacing: 1px;
                margin: {
                    top: 10px;
                    bottom: 30px;
                };
            }
            .info {
                span {
                    font-size: 13px;
                    letter-spacing: 1px;

                    &.trending {
                        padding-right: 25px;

                        i {
                            right: 0;
                            top: 50%;
                            font-size: 20px;
                            color: #00b69b;
                            margin-top: -0.8px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                        &.down {
                            i {
                                color: var(--dangerColor);
                            }
                        }
                    }
                }
            }
        }
    }
}
.row {
    .col-xxxl-2 {
        &:nth-child(2) {
            .trinta-card {
                &.pm-stat-card {
                    .mat-mdc-card-content {
                        .icon {
                            background-color: #ee8336;
                        }
                    }
                }
            }
        }
        &:nth-child(3) {
            .trinta-card {
                &.pm-stat-card {
                    .mat-mdc-card-content {
                        .icon {
                            background-color: var(--infoColor);
                        }
                    }
                }
            }
        }
        &:nth-child(4) {
            .trinta-card {
                &.pm-stat-card {
                    .mat-mdc-card-content {
                        .icon {
                            background-color: var(--dangerColor);
                        }
                    }
                }
            }
        }
        &:nth-child(5) {
            .trinta-card {
                &.pm-stat-card {
                    .mat-mdc-card-content {
                        .icon {
                            background-color: var(--primaryColor);
                        }
                    }
                }
            }
        }
        &:nth-child(6) {
            .trinta-card {
                &.pm-stat-card {
                    .mat-mdc-card-content {
                        .icon {
                            background-color: #00b69b;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.pm-stat-card {
            padding: {
                top: 20px;
                bottom: 20px;
            };
            .mat-mdc-card-content {
                .icon {
                    margin-bottom: 16px;
                }
                span {
                    font-size: 13px;
                }
                h5 {
                    font-size: 16px;
                    margin: {
                        top: 10px;
                        bottom: 15px;
                    };
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.pm-stat-card {
            padding: {
                top: 25px;
                bottom: 25px;
            };
            .mat-mdc-card-content {
                .icon {
                    margin-bottom: 20px;
                }
                span {
                    font-size: 14px;
                }
                h5 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}

.exit-button-container {
  width: 100%;
}

.exit-button-card {
}

.icon {
  background-color: rgb(233, 0, 0); /* Fond rouge */
  width: 100%; /* S'étend sur toute la largeur de la page */
  border-radius: 15px; /* Coins arrondis */
  padding: 20px; /* Espacement intérieur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
  color: white; /* Couleur du texte en blanc */
  text-align: center; /* Centrer le texte */
  box-sizing: border-box;
  /* Ajoutez ici vos styles spécifiques pour l'icône */
}

.text-gray {
  font-weight: bold; /* Texte en gras */
  color: rgb(0, 0, 0); /* Couleur du texte en noir */
  text-align: center; /* Centrer le texte */
  font-size: 25px; /* Taille de texte grande */
  font-family: poppins;
  display: inline-block; /* Assurez que l'élément est en ligne pour centrer correctement */
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les colonnes horizontalement */
}

.col-xxxl-2,
.col-sm-6,
.col-md-4 {
  margin-bottom: 20px; /* Espacement entre les boutons */
  display: flex;
  justify-content: center; /* Centrer les boutons horizontalement */
}

button {
  width: 100%; /* Remplir la largeur de la colonne */
  max-width: 250px; /* Largeur maximale des boutons */
  padding: 10px 20px;
  border: none;
  background-color: #e0e0e0; /* Couleur de fond des boutons */
  color: rgb(231, 231, 231); /* Couleur du texte */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a8ccff; /* Changement de couleur au survol */
}

.icon {
  display: flex;
  justify-content: center; /* Centrer le texte "Exit" */
  margin-top: 20px; /* Espacement du texte "Exit" */
}




.modal-content {
    background-color: #f8f9fa; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  }
  
  .modal-header {
    border-bottom: 1px solid #dee2e6; /* Light border */
    background-color: #f1f1f1; /* Light grey background for header */
  }
  
  .modal-title {
    color: #007bff; /* Primary color for title */
    font-weight: bold; /* Bold text */
  }
  
  .modal-body {
    font-size: 1.1rem; /* Slightly larger text */
  }
  
  .modal-footer .btn {
    border: none; /* Remove border */
  }
  
  .modal-footer .btn-primary {
    background-color: #007bff; /* Primary button color */
  }
  
  .modal-footer .btn-secondary {
    background-color: #dc3545; /* Secondary button color */
  }
  
  .modal-footer .btn-sm {
    font-size: 0.875rem; /* Smaller font size */
    padding: 0.375rem 0.75rem; /* Smaller padding */
    line-height: 1.5; /* Line height for text */
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* Space between buttons */
  }
  
  .modal-footer .btn + .btn {
    margin-left: 0.5rem; /* Adjust the spacing between buttons */
  }
  
  /* Center the 'Cancel' button */
  .modal-footer .btn-secondary {
    margin-left: 1rem; /* Add space from the 'Pay' button */
  }
  
  /* Style for the user select dropdown */
  .user-select {
    margin-top: 1rem; /* Add margin to the top */
  }
  
  .user-select label {
    display: block; /* Display label as block element */
    margin-bottom: 0.5rem; /* Margin below the label */
    font-weight: bold; /* Bold text for the label */
  }
  
  .user-select .form-select {
    width: 100%; /* Make select take full width */
    height: 200px; /* Set fixed height */
    overflow-y: auto; /* Add scrollbar if content exceeds height */
  }
  
  /* Ensure that the Users card is smaller than the User Details card */
  .col-md-4 {
    max-height: 400px; /* Adjust this value as needed */
    overflow-y: auto; /* Add scroll if the content overflows */
  }
  
  .col-md-8 {
    max-height: 100%; /* Full height of the modal */
  }
  